@media (max-width: 1600px) {
    

body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    
    }

header {
    
    background-color: #222222;
    height: 75px;
    margin: 0 auto;
}

.header-container {
    margin: 0 auto;
    padding: 18px auto;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 110px auto;
}

.logo-frame {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
    display: block;
    position: absolute;
    left: 400px;
}

.search-bar > input {
    height: 30px;
    width: 300px;
    border: 0px;
    border-radius: 20px;
    background-color: #F1E4E6;
}

.search-bar > input {
    text-indent: 30px;
}

.search-bar > input:focus {
    outline: none; 
}

.menu-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 159px;
}

.mobmenu {
    display: block;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #E8E8E8;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #E8E8E8;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);

    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    top: 75px;
    left: 0;
    position: absolute;
    display: grid;
    gap: 2px;
    padding: 0 230px;
    background: rgb(255, 255, 255);
    list-style-type: none;
    transform: translateX(-140%);
    transition: .3s;
    width: 1140px;
}

.menu-item {
    display: block;
    padding: 8px;
    color: #888888;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}

.menu-item:hover {
    background: #F1E4E6;
    color: #414141;
    font-weight: 700;
}

.burger-checkbox:checked~.menu-list {
    transform: translateX(0);
}

.partners>.container>ul>li {
    margin-top: 10px;
}

.content {
    
    margin: 0 auto;
    padding: 20px;
}


}