body {
    margin: 0 auto;
    padding: 0;
    font-family: Lato;

}

.header-container,
.categories,
.banner,
.products,
.advantages,
footer {
    margin: 0 auto;
    padding: 0 230px;
    display: grid;
}

header {
    background-color: #222222;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 110px auto;
    height: 75px;
}

.logo-frame {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
    display: block;
    position: absolute;
    left: 400px;
}

.search-bar>input {
    height: 30px;
    width: 300px;
    border: 0px;
    border-radius: 20px;
    background-color: #F1E4E6;
}

.search-bar>input {
    text-indent: 30px;
}

.search-bar>input:focus {
    outline: none;
}

.menu-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 159px;
}

.mobmenu {
    display: block;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #E8E8E8;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #E8E8E8;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);

    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    top: 5px;
    right: 0;
    position: absolute;
    display: flex;
    gap: 2px;
    list-style-type: none;
    transform: translateY(-160%);
    transition: .3s;
    font-weight: 400;
}

.menu-item {
    display: block;
    padding: 8px;
    color: #888888;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}

.menu-item:hover {
    background: #F1E4E6;
    color: #414141;
    font-weight: 700;
}

.burger-checkbox:checked~.menu-list {
    transform: translateX(0);
}



.banner {
    grid-template-columns: 50% auto;
    background-color: #F1E4E6;
    height: auto;
    align-items: center;
    align-content: stretch;
    justify-content: flex-start;
    padding-top: 100px;
}

.banner>.foto {
    display: flex;
}

.banner>.foto>img {
    align-self: flex-end;
    height: 600px;
}

.banner>.text>p {
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    border-left: 12px solid #F16D7F;
    padding: 6px 6px 0px 20px;
}

.banner>.text>p:before {
    border-left: 12px solid #F16D7F;
}

.banner>.text>p>span {
    font-size: 32px;
}

.fashion {
    font-size: 32px;
    color: #F16D7F;
}

.categories,
.products,
.advantages {
    margin-top: 65px;
}

.categories>ul,
.products>ul,
.advantages>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
}

.categories>ul>.item {
    flex: 0 0 calc(33.33% - 30px);
    /* каждый элемент занимает 1/3 ширины с отступами */
    margin-bottom: 30px;
}

.categories>ul>.item:last-child {
    flex: 0 0 100%;
    /* последний элемент занимает всю доступную ширину */
}

.item,
.product-item,
.advantages-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 260px;
    width: 360px;
    position: relative;
}

.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* черный цвет с прозрачностью 0.5 */
    transition: background-color 0.3s;
    /* добавляем плавный переход */
}

.item:hover::before,
.item-last:hover::before {
    background-color: rgba(0, 0, 0, 0);
}

.item:first-child,
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4) {
    background-size: cover;
    background-position: center;
}

.categories>ul>.item:first-child {
    background-image: url('../img/woomen.jpg');
}

.categories>ul>.item:nth-child(2) {
    background-image: url('../img/men.jpeg');
}

.categories>ul>.item:nth-child(3) {
    background-image: url('../img/kids.jpeg');
}

.categories>ul>.item:nth-child(4) {
    background-image: url('../img/accesories.jpeg');
}

.item>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
}

.item>p>span,
.item-last>p>span {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    color: #F16D7F;
}

.products>h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}



.products>p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.products>button {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #F26376;
    border: 1px solid #F26376;
    width: 212px;
    height: 48px;
    background-color: white;
    margin: 0 auto;
}

.product-item:first-child>img {
    background-image: url('../img/product_one_v1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.product-item:nth-child(2)>img {
    background-image: url('../img/product_two_v1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.product-item:nth-child(3)>img {
    background-image: url('../img/product_three_v1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.product-item:nth-child(4)>img {
    background-image: url('../img/product_four_v1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.product-item:nth-child(5)>img {
    background-image: url('../img/product_five_v1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.products>ul>li.product-item:nth-child(6)>img {
    background-image: url('../img/product_six_v1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.product-item {
    position: relative;
    display: inline-block;
}

.product-item .cart-icon {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #FFFFFF;
}

.product-item:hover img {
    filter: brightness(40%);
}

.product-item:hover .cart-icon>a>img {
    filter: brightness(100%);
}

.product-item:hover .cart-icon {
    opacity: 1;
    filter: brightness(80%);
}

.cart-icon>a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-item,
.advantages-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 320px;
    background-color: #F8F8F8;
}

.product-item>img {
    width: 360px;
    height: 420px;
    transition: opacity 0.5s;
}

.products>ul>.product-item,
.advantages>ul>.advantages-item {
    flex: 0 0 0;
    margin-bottom: 30px;
}

.products>ul,
.advantages>ul {
    /* gap: 30px; */
    margin-top: 30px;
}

.product-item>h3 {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    padding-left: 15px;
    width: 100%;
}

.product-item>p {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    color: #5D5D5D;
    width: 314.74px;
    padding-left: 15px;
}

.advantages>ul>li>p {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    color: #FBFBFB;
    width: 314.74px;
    padding-left: 15px;
}

.product-item>.price {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #F16D7F;
    padding-left: 15px;
}

.advantages>ul>li {
    text-align: center;
    display: flex;
    justify-content: center;
    background: none;
    color: #FBFBFB;
}

.advantages {
    background: #222224;
    padding: 45px 0;
}

.advantages>ul>li>h3 {
    font-size: 24px;
    width: 100%;
}

.advantages>ul>li>img {
    width: 60px;
}

.advantages>ul {
    justify-content: center;
}

.subscribe {
    padding: 120px 230px;
    align-items: stretch;
    background-image: url(../img/f-subscribe.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person {
    width: 359.45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.person>p {
    width: 100%;
    text-align: center;
}

.person>p>span {
    font-style: italic;
}

.person>img {
    border-radius: 50%;
}

.subscribe-form {
    display: grid;
    gap: 20px;
    grid-template-rows: 50% auto;
}

.subscribe-form>h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}


.subscribe-form>h2>span {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}


.input-subscribe-form>input {
    border-radius: 20px 0 0 20px;
    height: 48px;
    width: 300px;
    border: 0px;
    background: #E1E1E1;
    text-indent: 30px;
}

.input-subscribe-form>button {
    border-radius: 0px 20px 20px 0px;
    height: 50px;
    width: 100px;
    background: #F16D7F;
    border: 0px;
    color: #FFFFFF;
}

.input-subscribe-form {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #222224;
    color: #FBFBFB;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    width: 70px;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.filter {
    filter: invert(63%) sepia(0%) saturate(20%) hue-rotate(157deg) brightness(87%) contrast(93%);
}