@font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/lato-v24-latin-300.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/lato-v24-latin-900.woff2") format("woff2");
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    min-width: 375px;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.header {
    background: #222222;
    padding-top: 22px;
    position: fixed;
    width: 100%;
    z-index: 4;
    height: 120px;
    opacity: 0.97;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: end;
    gap: 41px;
}

.header__logo>img {
    width: 80px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__search {
    all: unset;
    cursor: pointer;
    height: 100%;
}

.search-input {
    background-color: #f0cbd0;
    padding: 10px;
    padding-left: 30px;
    color: #595959;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
    color: #595959;
    padding: 0px;
    box-sizing: border-box;
}


.search-container {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.search-input {
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    margin-left: 20px;
}

.search-input:focus {
    outline: none;
    border: none;
}

.search-icon {
    cursor: pointer;
}

.search-container.active .search-input {
    opacity: 1;
}

.nav {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header-menu__header,
.header-menu__link {
    text-transform: uppercase;
    font-size: 14px;
}

.header-menu__link {
    color: #f16d7f;
}

.header-menu {
    position: absolute;
    top: 20;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #f1e4e6;
    transition: right 0.3s ease;
    padding: 33px;
    margin-top: 18px;
    box-sizing: border-box;
    box-shadow: -2px -2px 19px 0px rgba(0, 0, 0, 0.3);
}

.header-menu.show {
    right: 0;
    opacity: 0.95;
}

.header-menu.close-menu {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.header-menu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-menu__dropdown-link,
.header-menu__link {
    text-decoration: none;
}

.header-menu__dropdown {
    display: none;
}

.header-menu__dropdown.active {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 10px;
}

.header-menu__icon {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #f16d7f;
    transition: transform 0.3s;
}

.header-menu__link.active .header-menu__icon {
    transform: rotate(90deg);
}

.header-menu__dropdown-link {
    color: rgba(111, 110, 110, 1);
    font-size: 14px;
}

.banner {
    background: #f1e4e6;
    padding-top: 100px;
}

.banner__container {
    display: flex;
    align-items: center;
    gap: 64px;
}

.banner__image {
    flex: 0 1 50%;
    max-width: 50%;
}

.banner__title {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    color: #222;
    max-width: 405px;
    padding-left: 28px;
    text-transform: uppercase;
}

.banner__title::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f16d7f;
}

.color-pink {
    color: #f16d7f;
}

.black-weight {
    font-weight: 900;
    font-size: 48px;
}

.offer {
    padding-top: 65px;
    padding-bottom: 36px;
}

.offer__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.offer__items {
    position: relative;
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offer__items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.offer__items:hover::before,
.item-last:hover::before {
    background-color: rgba(0, 0, 0, 0);
}

.offer__item_1 {
    background-image: url("../img/woomen.jpg");
}

.offer__item_2 {
    background-image: url("../img/men.jpeg");
}

.offer__item_3 {
    background-image: url("../img/kids.jpeg");
}

.offer__item_4 {
    flex-basis: 100%;
    min-height: 180px;
    background-image: url("../img/accesories.jpeg");
}

.offer__subtitle {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.offer__title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

.goods {
    padding-top: 60px;
    padding-bottom: 95px;
}

.goods__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 6px;
    text-align: center;
}

.goods__description {
    color: #9f9f9f;
    font-size: 14px;
    margin-bottom: 48px;
    text-align: center;
}

.goods__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
}

.goods__item {
    flex: 1 1 calc(33.333% - 20px);
}

.product {
    background: #f8f8f8;
}

.product__img-container {
    position: relative;
}

.product__image {
    position: relative;
    width: 100%;
    height: 500px;
}

.product__image-wrapper {
    position: relative;
}

.product__image-wrapper:after {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(4, 4, 4, 0.29);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.product__add {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid #fff;
    padding: 14px 16px 13px 50px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background-color: transparent;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 13px 11px;
    cursor: pointer;
}

.product:hover .product__image-wrapper:after {
    opacity: 1;
}

.product:hover .product__add {
    opacity: 1;
}

.product__content {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product__title {
    font-weight: 400;
    font-size: 13px;
    color: #000;
}

.product__description {
    font-weight: 300;
    font-size: 14px;
    color: #5d5d5d;
}

.product__price {
    color: #f16d7f;
    font-size: 16px;
}

.goods__add-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    background: none;
    padding: 14px 38px;
    color: #f26376;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.features {
    padding: 104px 0;
    background-color: #222224;
    color: #fbfbfb;
}

.features__list {
    display: flex;
    gap: 30px;
}

.features__item {
    flex: 1 1 calc(33.333% - 20px);
    text-align: center;
    padding-top: 60px;
    background-position: top center;
    background-repeat: no-repeat;
}

.features__item_delivery {
    background-image: url("../img/delivery.svg");
}

.features__item_discount {
    background-image: url("../img/discount.svg");
}

.features__item_quality {
    background-image: url("../img/quality.svg");
}

.features__item-title {
    font-weight: 400;
    font-size: 19px;
    color: #fbfbfb;
    margin-bottom: 16px;
}

.features__item-description {
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    color: #fbfbfb;
}

.subscribe {
    background-image: url("../img/subscribe.jpg");
    background-position: center;
    background-size: cover;
    padding: 97px 0 126px;
}

.subscribe__container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.subscribe__review {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 0 1 360px;
}

.subscribe__image {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.subscribe__text {
    font-size: 20px;
    text-align: center;
    color: #222224;
    font-style: italic;
}

.subscribe__content {
    flex: 0 1 557px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    text-align: center;
    color: #222224;
}

.subscribe__description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;
}

.subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 356px;
    height: 49px;
    margin: 0 auto;
    border-radius: 25px;
}

.subscribe__input {
    padding: 6px 102px 6px 22px;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    border: none;
    font-size: 14px;
}

.subscribe__input:focus {
    outline: none;
    border: none;
}

.subscribe__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100px;
    height: 100%;
    border: none;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #f16d7f;
    cursor: pointer;
}

.footer {
    padding: 24px 0;
    background-color: #222224;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 16px;
    color: #fbfbfb;
}

.footer__social-list {
    display: flex;
    gap: 8px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__social-link:hover {
    color: #fff;
    background-color: #f16d7f;
}

.advantages>ul>.advantages__item {
    flex: 0 0 0;
    margin-bottom: 30px;
    gap: 15px;
}

.advantages__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 320px;
    background-color: #F8F8F8;
}

.advantages>ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.advantages>ul>li>p {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    color: #FBFBFB;
    width: 314.74px;
}

.advantages>ul>li {
    text-align: center;
    display: flex;
    justify-content: center;
    background: none;
    color: #FBFBFB;
}

.advantages {
    background: #222224;
    padding: 45px 0;
}

.advantages>ul>li>h3 {
    font-size: 24px;
    width: 100%;
    margin-top: 10px;
}

.advantages>ul>li>img {
    height: 39px;
}

.advantages>ul {
    justify-content: center;
}