@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Semibold'), local('Semibold'),
        url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Semibold.woff') format('woff'),
        url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Regular'), local('Regular'),
        url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff'),
        url('Gilroy-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Medium.woff') format('woff'),
        url('Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0 auto;
    max-width: 1920px;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: #ffffff;
    z-index: 2;
}

header > .container {
    display: grid;
    justify-content: space-between;
    margin: 0 auto;
}

.mobmenu {
    display: none;
    margin-right: 20px;

}

section, header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1920px;
}

.container {
    width: calc(100% - 374px);
    margin: 40px auto;
    flex-wrap: wrap;
}

#home {
    margin: 100px auto;
}



header > .container {
    grid-template-columns: 137px auto;
}



header> .container > a,
footer>section>.container>.card>li>a {
    font-family: 'Gilroy-Bold', sans-serif;
    align-items: center;
    height: 100px;
    font-size: 24px;
    line-height: 28.13px;
}

header> .container>a>img {
    width: 35px;
    height: 40px;
}

header> .container>a>div>span,
footer>section>.container>.card>li>a>div>span {
    color: #F25822;
}

nav {
    /* width: 687px; */
    align-items: center;
}

nav,
nav>ul,
.content>.buttons,
.content>.buttons>a,
header> .container>a,
header> .container>nav>ul>li>a,
.partners>ul,
.container,
header> .container>a,
footer>section>.container>.card>li>a {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    width: 533px;
    list-style-type: none;
    margin-right: 60px;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #F25822;
    border: 0px;
    color: white;
    cursor: pointer;
}

header> .container>a,
header> .container>nav>ul>li>a {
    color: #000000;
    text-decoration: none;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    align-items: center;
}

.big {
    font-family: 'Gilroy-Medium', sans-serif;
    color: #888888;
    font-size: 20px;
    line-height: 23.44px;
}

.content {
    width: 543px;
}

.content>h1 {
    font-weight: bold;
    font-size: 60px;
}

.content>h2,
.choose>.container>h2,
.choose>h2,
.experts>.container>h2 {
    font-weight: bold;
    font-size: 45px;
    padding-top: 40px;
}

p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    color: #666666;
    line-height: 24px;
}

.content>.buttons {
    width: 302px;
}

.content>.buttons>a {
    width: 135px;
    align-items: center;
    font-family: Gilroy-Bold;
font-size: 15px;
line-height: 17.58px;
text-decoration: none;
color: #AAAAAA;
font-weight: bold;
}

.partners {
    width: 100%;
}

.partners>ul {
    width: 100%;
    padding: 0;

}

.partners>.container>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.partners>.container>ul>li>img {
    width: 160px;
}



.card {
    width: calc(100% - 374px);
    margin: 40px auto;
    flex-wrap: wrap;
}

section {
    background-color: white;
}

section:nth-child(4),
section:nth-child(6),
section:nth-child(10) {
    background-color: #FAFAFA;
}

.card, .choose>.card, .choose>.container>.card  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    list-style: none;
    padding: 0;
    justify-content: space-between;
}


.card>li {
    max-width: 310px;
    padding: 20px;
}

.card>li>h3 {

    font-size: 24px;
    line-height: 28.13px;

}

.card>li>p {
    color: #666666;
    font-size: 16px;
    line-height: 28.13px;

}

.card>li>a {
    font-size: 11px;
    line-height: 16.5px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.card>li>img {
    width: 27.78px;
    height: 25px;
    padding: 20px;
    border-radius: 15px;
}

.advantages>.card>li:first-child>img {
    background-color: #F2582240;
}

.advantages>.card>li:nth-child(2)>img {
    background-color: #14921147;
}

.advantages>.card>li:nth-child(3)>img {
    background-color: #FFCD1D3D;
}

header,.advantages>.card>li:hover,
.choose>.card>li:hover,
.seo>.container>.content>ul>li:hover,
.experts>.container>ul>li:hover,
.choose>.container>.card>li:hover {
    box-shadow: 15px 25px 56px 6px #0000000F;

}

/* .choose>.card>li {
    padding: 60px;
} */

.choose>.card>li>img {
    width: 80%;
    height: auto;
}

.choose>.card>li>h3,
.choose>h2,
.choose>.card>li>p,
.choose>h2,
.choose>button,
.choose>p,
.choose>.container>.card>li>h3,
.choose>.container>h2,
.choose>.container>.card>li>p,
.choose>.container>h2,
.choose>.container>.card>button,
.choose>.container>p {
    text-align: center;
    width: 100%;
}

.choose>.card>li {
 
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 549px;
}

.choose>.container>.card>li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 574px;
    font-size: 24px;
    font-family: 'Gilroy-Medium', sans-serif;
}

.choose>.container>.card>li>.price {
    font-size: 70px;
    color: #000000;
    line-height: 70px;
    display: grid;
    justify-content: center;
    align-items: end;
    height: 90px;
    grid-template-columns: auto auto auto;
}

.choose>.container>.card>li>.price::before {
    content: '$';
    font-size: 16px;
    color: #000000;
    align-self: flex-start;
    padding-right: 10px;
}

.choose>.container>.card>li>.price > span {
    align-self: end;
    height: 60px;
    padding-left: 5px;
}

.choose>.container>.card>li>.choose-status {
    font-family: 'Gilroy-Medium', sans-serif;
}

.choose>.container>.card>li>.choose-status:hover {
    color: #F25822;
}

.choose>.container>.card>li>.price>span {
    color: #000000;
    font-size: 16px;

}

.choose>.container>.card>li>p {
    margin: 0;
    font-size: 16px;
    line-height: 0;
}

.choose>.container>.card>li>.choose-status {
    font-size: 24px;
    line-height: 36px;
}

.choose>.container>.card>li>.not-active {
    background-color: #F2582240;
    color: #F3602D;
}


.seo {
    position: relative;
}


.seo>.container>img {
    position: absolute;
    z-index: 0;
    left: 0;
}

.seo>.container {
    display: flex;
    justify-content: end;
}

.seo>.container>.content>ul {
    list-style: none;
    padding: 0;
}

.seo>.container>.content>ul>li {
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: 100px auto;
}



.seo>.container>.content>ul>li {
    display: grid;
    list-style: none;
    grid-template-columns: 100px auto;
    align-items: center;
    padding: 20px;
}

.seo>.container>.content>ul>li:first-child>img {
    background-color: #F2582240;
}

.seo>.container>.content>ul>li:nth-child(2)>img {
    background-color: #14921147;
}

.seo>.container>.content>ul>li:nth-child(3)>img {
    background-color: #FFCD1D3D;
}

.seo>.container>.content>ul>li>img {
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 50%;
}

.seo>.container>.content {
    max-width: 600px;
}

.color-disc {
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px;
    border: 2px solid #EEEEEE;
    display: flex;
    font-size: 70px;
    line-height: 30px;

}

.color-disc > li {
    padding-left: 40px;
}

.color-disc li::marker {
    color: rgb(255 255 255);
}


li:nth-child(2)::marker {
    color: #F3602D;
}

li:nth-child(3)::marker {
    color: #149211;
}

li:nth-child(4)::marker {
    color: #FFC700;
}



.numbers>.container>ul>li>span {
    font-size: 18px;
}

form {
    display: flex;
    margin-top: 80px;
}

form>button {
    margin-left: 60px;
}

.formleft {
    width: 150px;
    text-align: center;
    height: 35px;
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    background: #EEEEEE;

}

.formright {
    width: 150px;
    text-align: center;
    height: 35px;
    border: 0px;
    border-left: 1.5px solid #CCCCCC;
    border-radius: 0px 50px 50px 0px;
    background: #EEEEEE;

}

.experts>.container>.card>li {
    width: 270px;
}

.experts .container>.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.experts>.container>p,
.experts>.container>ul>li>p {
    width: 100%;
    text-align: center;
}

.experts>.container>ul>li {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experts>.container>ul {
    width: 100%;
}

.experts>.container>ul>li>img {
    width: 130px;
    height: 130px;
    padding: 20px;
}

.social>svg:hover,
.social>svg>path:hover {
    background-color: #F3602D;
    border-radius: 50%;
    padding: 5px;
    fill: #FFFFFF;

}

.social {
    height: 20px;
    display: flex;
    align-items: center;
    width: 97px;
    justify-content: space-between;
}

.social>svg>path {
    fill: #AAAAAA;
    width: 15px;
    height: 15px;
}

.experts>.container>h2,
.experts>.container>p,
.choose>.container>h2,
.choose>.container>p {
    text-align: center;
    width: 100%;
}

footer>section>.container>.card {
    width: 100%;
    grid-template-columns: auto auto auto auto;
}

footer>section>.container>.card>li>ul {
    list-style: none;
    padding: 0;
}

footer>section>.container>.card>li>a {
    width: 140px;
}

footer>section>.container>.card>li>ul>li {
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    line-height: 36.8px;
    color: #666666;
}

footer>section {
    background-color: #FAFAFA;
}